body {
  text-align: center;
  background-image: url("dark_wood.png");
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

div {
  background-color: #8e41d5;
  color: white;
}

h3 {
  color: #ffbc00;
  font-family: "Passion One", cursive;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0px;
}

p {
  font-family: "Arial";
  font-weight: bold;
}

#Header {
  border: 8px black solid;

  width: 500px;

  /* Centered the item */
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

#Header h1 {
  font-size: 60px;
  font-family: "Passion One", cursive;
  color: #ffbc00;
  font-weight: bold;
}

#LeftNav {
  border: 8px black solid;

  width: 400px;

  /* Centered the item */
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;

  float: left;
  padding-bottom: 8px;
}

#Content {
  border: 8px black solid;

  width: 700px;

  /* Centered the item */
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;

  padding: 15px;
}

#Footer {
  border: 8px black solid;

  /* Centered the item */
  margin-left: auto;
  margin-right: auto;
}

#bow {
  color: #ffbc00;
}
